<%- include("../partials/header");  %> 

<div class="container">
	<div>
		<a href="/">Home</a>
	</div>
	
	<div class="row">
		<div class="col-lg-12">
			<h3><%=campground.name%></h3>
		</div>

	</div>
	
	<div class="row text-center" style="display: flex; flex-wrap: wrap;">
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="<%=campground.image%>" alt="">
				<p><%=campground.description%></p>
			</div>
			<div>
				<p>
					<a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-primary">Add a comment</a>
				</p>
				<% campground.comments.forEach((comment) => { %>
					<p><strong><%= comment.author %></strong> - <%= comment.text %> </p>
				<% }) %>
			</div>
		</div>
	</div>
	
</div>

<%- include("../partials/footer"); %> 